

/* Body Section */
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

.noto-kufi-arabic {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


hr {
    margin-bottom: 50px;
    margin-top: 50px;
}
body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.profile-links {
    margin-bottom: 2rem;
}
.profile-links a {
    margin-right: 1rem;
}

h2 {
    margin-bottom: 40px;
}
/* Navbar */
.navbar {
    background-color: #343a40; /* Adjust this to match your desired navbar color */
}

.top-margin {
    margin-top: 40px;
}


.card-image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px; /* Adjust width and height to your preference */
    height: 200px;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;

    
}

.card-layout-100 {
/*    background-color: rgb(242, 243, 239);  /* Gray color */*/
/*    padding: 20px 0;  /* Adding some vertical padding for spacing. Adjust as necessary. */*/
}

/* Replace with appropriate image paths */
.card1 {    background-image: url('../img/business_development.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card2 {    background-image: url('../img/tech.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card3 {    background-image: url('../img/projects.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card4 {    background-image: url('../img/full-stack.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/


.card5 {    background-image: url('../img/architecture.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/


.card6 {    background-image: url('../img/research.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/


.card7 {    background-image: url('../img/al salwa.jpeg');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card8 {    background-image: url('../img/deqa.jpeg');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card9 {    background-image: url('../img/maktaba.jpeg');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card10 {    background-image: url('../img/hatch.jpeg');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card11 {    background-image: url('../img/boushia.jpeg');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/

.card12 {    background-image: url('../img/IGH.png');    }
/*.card1:hover {    background-image: url('../img/AI.png');    }*/






/* Header Section */


.container-fluid {
    max-width: 1440px;  /* You can adjust this based on the desired website width */
}
