
    <!-- Support Section Start -->
    <div class="support  mousemove" style="z-index: 10; direction: rtl;" id="contact">
        <div class="container">
            <div class="support-bg">
                <div class="support-bg-img">
                    <img src="assets/images/support/support-bg.png" alt="Support">
                </div>
                <div class="row" style="margin-right: 50px ;">
                    <div class="col-md-6">
                        <!-- Heading Start -->
                        <div class="heading-one wow fadeInUp" data-wow-duration="0.9s">
                            <span class="heading-one-subtitle">اتصل بنا الان</span>
                            <h2 class="heading-one-title">مكتب المبيعات</h2>
                            <p class="heading-one-text">الخبر - حي المها - على طريق الخالدية</p>
                            <a href="tel:0536277222" class="phone-call">
                                <span class="phone-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </span>
                                <span class="phone-text">0536-2-77222</span>
                            </a>
                            <br/>
                            <a href="tel:0536477222" class="phone-call">
                                <span class="phone-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </span>
                                <span class="phone-text">0536-4-77222</span>
                            </a>
                            <!-- Support Shape Start -->
                            <div class="support-shape-two">
                                <img src="assets/images/support/support-arrow.png" alt="">
                            </div>
                            <!-- Support Shape End -->
                        </div>
                        <!-- Heading End -->
                    </div>
                    <div class="col-md-6">
                        <div class="support-man wow fadeInUp" data-wow-duration="0.7s">
                            <img src="images/map.jpg" alt="Map" width="550">
                        </div>
                        <div class="support-shape-one">
                            <img class="wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".1s" src="assets/images/support/support-circle.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Support Section End -->





    <!-- Plan Section Start -->
    <div class="   ">

        <div class="container">
            <div class="row footer-two-copyright">
                <div class="col-12 position-relative">
                    <div class="footer-two-copyright-inner" style=" padding: 30px 0px 30px 0;">
                        <p class="order-md-1 order-2"><span>2024 © جميع الحقوق محفوظة - بيان العقارية</span> </p>
                        <ul class="footer-two-bootm-list order-md-2 order-1">

                            <li><a href="#">الضمانات</a></li>
                            <li><a href="https://maps.app.goo.gl/1k9KLPMc92fRbayE8" target="_blank">موقع المشروع</a></li>
                            <li><a href="https://www.google.com/maps/place/Bayan+Realty+Co./@26.1577191,50.0857978,13z/data=!4m15!1m8!3m7!1s0x3e49dc4523d3f80d:0x47fdf33dfe36ead9!2sECDA2899,+2899+9%D8%8C+8175,+Al+Maha,+Al+Khobar+34726,+Saudi+Arabia!3b1!8m2!3d26.195341!4d50.1306452!16s%2Fg%2F11gj70wkqn!3m5!1s0x3e49e857adb90f99:0xafb8358d25d7175a!8m2!3d26.1953998!4d50.1327574!16s%2Fg%2F1pt_3hq3b!5m1!1e4?entry=ttu" target="_blank">المعالم المحيطة</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr></hr>
            <div class="row text-center ">
                <a href="https://deq4.com" target="_blank"><span class="w-100 noto-kufi-arabic-one">موقع مطور بتقنية <b>دقـ4</b> ستوديو</span></a>
            </div>
        </div>
    </div>
    <!-- Plan Section End -->


    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top show" id="scroll-top">
        <i class="arrow-top fas fa-angle-double-up"></i>
        <i class="arrow-bottom fas fa-angle-double-up"></i>
    </a>
    <!-- Scroll Top End -->