<header class="header-wrapper-two header-four sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-top">
                    <div class="d-md-none d-flex align-items-center">
                        <a class="header-top-link d-flex align-items-center gap-1 left-link" href="tel:+4733378901"><img src="assets/images/icon/social/social-icon-1.png" alt=""></a>
                        <a class="header-top-link d-flex align-items-center gap-1" href="info@bayanksa.com"><img src="assets/images/icon/social/social-icon-2.png" alt=""></a>
                    </div>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="tel:+4733378901"><img src="assets/images/icon/social/social-icon-1.png" alt=""> 0536-2-77222</a>
                    </span>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="tel:+4733378901"><img src="assets/images/icon/social/social-icon-1.png" alt=""> 0536-4-77222</a>
                    </span>
                    <span class="d-none d-md-block">
                        <a class="header-top-link d-flex align-items-center gap-1" href="mailto:info@bayanksa.com"><img src="assets/images/icon/social/social-icon-2.png" alt=""> info@bayanksa.com</a>
                    </span>
                    <div>
                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="flex-center justify-content-between">
                    <!-- Header Logo Start -->
                    <div class="logo ">
                        <a href="index.html">
                            <img class="logo-2" src="images/bayan-logo-small.png" alt="logoImage" width="209">
                        </a>
                    </div>
                    <!-- Header Logo End -->

                    <div class="flex-center header-right">
                        <!-- Header Menu Start -->
                        <div class="d-none d-lg-flex header-right_menu">
                            <nav class="main-menu">
                                <ul>
                                    <li>
                                        <a href="#plots">أراضي</a>
                                    </li>
                                    <li class="has-children">
                                        <a href="#villas">فلل سكني</a>
<!--                                             <ul class="sub-menu">
                                            <li><a href="team.html">نبذة عن المتوفر</a></li>
                                            <li class="has-submenu"><a href="#/">دبلكس Duplex B</a>
                                                <ul class="submenu-nav">
                                                    <li>
                                                        <a href="service.html">Service</a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-submenu"><a href="#/">دبلكس Duplex D</a>
                                                <ul class="submenu-nav">
                                                    <li>
                                                        <a href="project.html">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="has-children">
                                        <a href="#investors">المستثمرون</a>
<!--                                             <ul class="sub-menu">
                                            <li><a href="https://www.altijaria.com/our-investment/1" target="_blank">الشركة التجارية العقارية، ش.م.ك.ع</a></li>
                                            <li><a href="https://www.vc-bank.com/ar/investment-portfolio/bayan-real-estate-development-company" target="_blank">VENTURE ESTATES HOLDING</a></li>
                                            <li><a href="https://www.linkedin.com/company/alrashidsons/about/" target="_blank">شركة راشد سعد الراشد و أولادة المحدودة</a></li>
                                            <li><a href="https://www.almojelco.com/ar" target="_blank">شركة المعجل للتجارة والمقاولات</a></li>
                                            <li><a href="https://dimah.com.kw/ar" target="_blank">ديمه كابيتال</a></li>
                                            <li><a href="https://www.al-othman.com/ar/" target="_blank">شركة العثمان القابضة</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="has-children">
                                        <a href="#">الادارة</a>
<!--                                             <ul class="sub-menu">
                                            <li>
                                                <a href="blog-standard.html">Blog Standard</a>
                                            </li>
                                            <li>
                                                <a href="blog-classic.html">Blog Classic</a>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-masonry.html">Blog Masonry</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Blog Details</a>
                                            </li>
                                            <li>
                                                <a href="blog-details-two.html">Blog Details Two</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a href="#about">نبذة عنــا</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Menu End -->

                        <!-- Header Actions Start -->
                        <div class="header-right_actions flex-center">
                            <div class="header-right_button header-button">
                                <a href="#" class="btn-style-one"><img src="images/azizia.png" alt="LogoImage" width="80"></a>

                            </div>

                            <div class="hamburger d-block d-lg-none">
                                <!-- Mobile Menu Hambarger Action Button Start -->
                                <a class="header-action-btn header-action-btn-menu hamburger_button d-flex" href="#/" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-header">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <!-- Mobile Menu Hambarger Action Button End -->
                            </div>

                        </div>
                        <!-- Header Social Actions End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>