
/* Body Section */

body {
    font-family: 'Avenir Medium', sans-serif;
    color: #202013;
    background-color: #FFFFFF;
}

.container-fluid {
    max-width: 1440px;
}

.project-image {
/*    width: 100%;*/
    height: 420px; /* Fixed height for larger screens. Adjust as necessary */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.project-layout-100 {
/*    background-color: rgb(242, 243, 239);  /* Gray color */*/
    padding: 20px 0;  /* Adding some vertical padding for spacing. Adjust as necessary. */
}




.menu p {
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    color: #EF373E;
    cursor: pointer;
    font-weight: bolder;
}

.menu p:hover {
    text-decoration: underline;
}

.container-fluid {
    max-width: 1440px;  /* You can adjust this based on the desired website width */
}


/* Body Section */

body {
    font-family: 'Avenir Medium', sans-serif;
    color: #202013;
    background-color: #FFFFFF;
}

/* Header Section */

.logo {
    max-width: 300px;  /* Adjust as needed based on the actual logo dimensions */
    height: auto;
    padding-top: 15px;
}

/* Mobile Size */
@media (max-width: 768px) {
    .logo {
        max-width: 235px;
    }
}


/* Footer Section */

.footer-bar {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff; /* Can be removed if no background is desired */
}

.footer-bar p, .footer-bar a {
    color: #a0a0a0; /* Gray color */
}

.mobile-text {
    display: none;
}


.footer-bar p {
    color: #a0a0a0; /* Brand gray color */
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: block;
    }
}

/* Font Awesome icon size adjustment (optional) */
i.fa-instagram {
    font-size: 24px;
    color: #EF373E; /* Scarlet red color */
}