    <!-- One Column (index-one.html) -->
    <div class="container-fluid px-5">
        <div class="row my-4 single-column">
            <div class="col-12">
                <!-- Content Here -->
                <p>Dummy text...</p>
            </div>
        </div>
    </div>

    <!-- Two Columns (index-two.html) -->
    <div class="container-fluid px-5">
        <div class="row my-4 double-column">
            <div class="col-6">
                <!-- Left Content -->
                <p>Dummy text...</p>
            </div>
            <div class="col-6">
                <!-- Right Content -->
                <p>Dummy text...</p>
            </div>
        </div>
    </div>
    
    <!-- Three Columns (index-three.html) -->
    <div class="container-fluid px-5">
        <div class="row my-4 triple-column">
            <div class="col-4"> <!-- Repeat for each of the 3 columns -->
                <!-- Content for each project -->
                <p>Project 1</p>
            </div>
        </div>
    </div>

    <!-- Main Content Section (index.html)-->
    <div class="container-fluid px-5">
        <div class="row my-4">
            <div class="col-6">
                <!-- Left Column Content Here -->
            </div>
            <div class="col-6">
                <!-- Right Column Content Here -->
            </div>
        </div>
    </div>
